<h1>Events</h1>
<% @events.each do |event| %>
  <br/>
  <h2><%=  event['name'] %>
  <h3><%=  event['group']['name'] %>
  <%= link_to 'select', "events/#{event['group']['urlname']}/#{event['id']}" %>
<% end %>
