<div class="landing-page">
  <h1 class="landing-page__title">
    Randsome Meetup
  </h1>

  <%= link_to "Sign in with Meetup", "/auth/meetup",
        class: "button button--large button--hollow" %>
</div>
