$breakpoint-extra-small: 480px;
$breakpoint-small: 768px;
$breakpoint-medium: 960px;
$breakpoint-large: 1120px;

$san-juan: #2b5876;
$east-bay: #4e4376;
$mercury: #e9e9e9;
$hippie-blue: #509aa8;
$white: #fefefe;

$title-font: 'Oswald', 'Helvetica', 'sans-serif';
$default-font: 'Open Sans', 'Arial', 'sans-serif';

$bold-weight: 700;
$semi-bold-weight: 600;
$normal-weight: 400;

$default-font-size: 16px;

$default-radius: .3125rem;
